#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F5F2E7;
  color: #262626;
}


/* #F2BDC7 -- pink
#C3E1FF -- blue
#F5F2E7 -- light colour
#F2EBC4;
  color: #262626;
*/
